{% extends 'elif/layout.html' %}
{% load static %}
{% csrf_token %}


{% block header %}
  <!--h1 style="text-align:center">{% block title %}Main page{% endblock %}</h1-->

  <style type="text/css">
    body{
        background: rgb(54, 217, 182);
        background: linear-gradient(90deg, rgba(54,217,182,1), rgba(32,152,126,1) 43%, rgba(0, 212, 255, 1) 100%);
    }
    .btn-close {
        margin: 10px;
        margin-left: 30px;
    }
    #number{
        width: 70px;
        height: 30px;
    }
    #group-number {
        margin-top: 30px;
    }
    .total-class {
        position: absolute;
        right: 150px;
    }

  </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <form id="form">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><h5>Name</h5></label>
                    <input type="text" class="form-control form-control-lg" id="inputname">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-lg" id="inputemail">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Phone</label>
                    <input type="text" class="form-control form-control-lg" id="inputphone">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Address</label>
                    <input type="text" class="form-control form-control-lg" id="inputaddress">
                </div>
            </form>
        </div>
        <div class="col">
            <br>
            <div class="cards-container" id="cards-container">
              {% for item in food %}
                <div class="card mb-3" style="max-width: 500px;">
                    <div class="row g-0">
                        <div class="col">
                            <img src='{{ item.image }}' class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <h5>Ціна: {{item.price}}</h5> 
                            </div>
                        </div>
                        <div class="col col-lg-2" id="group-number">
                            <input data-price='{{ item.price }}' class="form-control" type="number" min="1" id="number" value="1">
                        </div>
                      
                        <button data-product='{{ item.id }}' data-action='del' type="button" class="btn-close delete-item" aria-label="Close"></button>
                    </div>
                </div>
              {% endfor %}
            
                
                
            </div>
        </div>
    </div>
    
    <div class="total-class">Всього:
        <h2 id="total">
            0
        </h2>
        <button id="submit" type="submit" class="btn btn-success">Замовити</button>
    </div>


{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'elif/cart.js' %}"></script>
{% endblock %}